.btOdd{
    margin-left: 5px;
    background-color: rgb(181, 95, 95);
    width: 58px;
    height: 36px;
   
}
.btEven{
    margin-left: 5px;
    background-color: rgb(155, 122, 227);
    width: 58px;
    height: 36px;
}